#activity_loader {
    display: none;
}

.noActivityRegion {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: #87E1C1;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.125);
}

.noActivity {
    padding: 1rem;
    background-color: #FFF;
    border-radius: 0.5rem;
}

.activityHeader {
    margin: 1rem 0 0;
    background-size: cover;
    background: #87E1C1 url(/media/topbarbg.png) no-repeat;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem;
    width: 20rem;
    font-weight: bold;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.125);
}

.friendRequestActivity {
    position: relative;
    margin: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.125);
    background: #FFF;
    background-size: cover;
    border-radius: 0.25rem;
    padding: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    display: block;
}

.load_more_button {
    display: inherit;
}

@media all and (min-width: 800px) {
    .friendRequestActivity {
        max-width: 40rem;
        margin: 1rem auto;
    }

    .activityHeader {
        margin: 0.5rem auto 0;
    }

    .load_more_button {
        display: none;
    }
}
