#booth_buttons {
    visibility: hidden;
}

#user_booth_likes_region {
    display: none;
}

.userBoothButtonsRegion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: #FFF;
}

.userBoothButton {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-basis: 0;
    margin: 1vw;
}

.userBoothLikes {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    border-bottom: 1px solid #000;
    margin-bottom: 1rem;
    border-top: 1px solid #000;
    margin-top: 1rem;
    justify-content: flex-end;
}

.likeUserImageRegion {
    width: 16vw;
    height: 16vw;
    max-width: 16vw;
    max-height: 16vw;
    padding: 2vw 2vw 2vw 0;
    font-size: 4vw;
    overflow: hidden;
}

.userBoothLikesCountRegion {
    display: flex;
    flex-flow: column;
    border: 1px solid #000;
    margin: 2vw;
    width: 16vw;
    height: 16vw;
    max-width: 16vw;
    max-height: 16vw;
    font-size: 4vw;
    box-sizing: border-box;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(0,0,0,0.125);
}

.userBoothLikesCountNumber {
    height: 3.5rem;
    width: 16vw;
    max-width: 16vw;
    max-height: 16vw;
    font-size: 10vw;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

#like_count_label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5vw;
}

.likeUserImageRegion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(0,0,0,0.125);
    box-sizing: border-box;
    border: 1px solid #000;
}

.userBoothButton button {
    width: 100%;
    padding: 2vw 0;
    background: #FFF;
    border: 1px solid #000;
    margin: auto;
    cursor: pointer;
}

.userBoothButton button:disabled {
    color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.5);
    cursor: default;
}

@media all and (min-width: 400px) {
    .likeUserImageRegion {
        width: 12vw;
        height: 12vw;
        padding: 1vw;
        font-size: 2vw;
    }

    .userBoothLikesCountRegion {
        width: 12vw;
        height: 12vw;
        padding: 0;
        font-size: 3vw;
    }

    .userBoothLikesCountRegion {
        margin: 1vw;
    }

    .userBoothLikesCountNumber {
        width: 10vw;
        max-width: 10vw;
        font-size: 8vw;
    }
}

@media all and (min-width: 500px) {
    .likeUserImageRegion {
        width: 10vw;
        height: 10vw;
        padding: 1vw;
        font-size: 2vw;
    }

    .userBoothLikesCountRegion {
        width: 10vw;
        height: 10vw;
        padding: 0;
        font-size: 2.5vw;
    }

    .userBoothLikesCountRegion {
        margin: 1vw;
    }

    .userBoothLikesCountNumber {
        width: 10vw;
        max-width: 10vw;
        font-size: 6.5vw;
    
}
}

@media all and (min-width: 600px) {

    .userBoothButton {
        margin: 0.25rem 2rem;
    }

    .userBoothButton button {
        padding: 0.5rem 0;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.25);
    }

    .userBoothButtonsRegion {
        margin: 0;
        background: transparent;
    }

    .likeUserImageRegion {
        width: 3rem;
        height: 3rem;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    .userBoothLikesCountRegion  {
        width: 3rem;
        height: 3rem;
        padding: 0rem;
        margin: 0.5rem;
    }

    .userBoothLikesCountNumber {
        width: auto;
        max-width: inherit;
    }

    .userBoothLikesCountNumber {
        height: 3.5rem;
        font-size: 1.75rem;
    
        margin-left: auto;
        margin-right: auto;
        width: 2.5rem;
        overflow: hidden;
        text-align: center;
}

    #like_count_label {
        bottom: 0.25rem;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
    }
}
