/*todo: rename to posts.css*/
.feedcell {

    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 200px;
    height: auto !important;
    height: 200px;
    position: relative;
    overflow: hidden;

}

.feedcommand {

    position: absolute !important;
    bottom: 0px;
    right: 0px !important;

}

.quiltframe {

    float: left;

}

.quiltpic {

    background-size: cover !important;
    background-position: center;
    background: #00CCFF;
    width: 100% !important;
    height: 100% !important;

}

.bootherlink, .underboothlink {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 5px 5px #AAAAAA;

}

.boothnumber {
    float: right;
    margin-right: 5px;
}

.bootherlink {
    width: 100%;
    top: -30px;
    background: #f2eaca;
    color: black;
}

.underboothlink {
    width: 450px;
    background: #eaf2ca;
    color: black;
}

/*Remove feeddate and feedcommand and use definition in feed.css*/
.feeddate {

    font-style: italic;
    font-size: 10px;
    color: gray;
    float: right;

}

.feedpicwrapper {

    float: left;
    position: relative;
    min-height: 200px;
    width: 266px !important;
    margin-right: 10px;
}

.feedpic {

    background-size: cover !important;
    background-position: center;
    width: 100% !important;
    min-height: 200px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.blurb {

    box-shadow: 0px 5px 10px #DDDDDD;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border-radius: 10px;
    border: solid 1px #DDDDDD;
    word-wrap: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;

}

.leftblurbbuttons {

    font-style: italic;
    font-size: 14px;
    color: green;
    position: absolute;
    left: 20px;
    bottom: 5px;

}

.blurbbuttons {

    font-style: italic;
    font-size: 10px;
    color: gray;
    position: absolute;
    right: 20px;
    bottom: 5px;

}

.booth {

    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    position: relative;

}

.boothpic {

    background-size: cover !important;
    background-position: center;
    width: 80px !important;
    height: 60px !important;
    float: left !important;
    position: absolute;
    left: 80px;
    bottom: 5px;

}

.booththumbnail {

    background-size: cover !important;
    width: 80px !important;
    height: 60px !important;
    float: left !important;
    position: absolute;
    top: 0px;
    right: 0px;

}

.booth_forward {

    position: absolute;
    right: -50px;

}

.booth_back {

    position: absolute;
    left: -50px;

}

.mention {

    padding: 5px;

}