#booth_buttons {
    visibility: hidden;
}

.userBoothButtonsRegion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: #FFF;
}

.userBoothButton {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-basis: 0;
    margin: 1vw;
}

.userBoothButton button {
    width: 100%;
    padding: 2vw 0;
    background: #FFF;
    border: 1px solid #000;
    margin: auto;
    cursor: pointer;
}

.userBoothButton button:disabled {
    color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.5);
    cursor: default;
}

@media all and (min-width: 600px) {

    .userBoothButton {
        margin: 0.25rem 2rem;
    }

    .userBoothButton button {
        padding: 0.5rem 0;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.25);
    }

    .userBoothButtonsRegion {
        margin: 0 0 0.5rem;
        padding: 0 0 1rem;
    }
}
