.camerasection {
	position: relative; 
	width: 640px; 
	height: 480px;
}

.camera {
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 640px; 
	height: 480px;

}

.countdown {
	position: absolute; 
	right: -50px; 
	bottom: 30px; 
	width: 50px; 
	height: 100px; 
	opacity: 0; 
	font-size: 80px;
}