.bigBlock404Region {
    display: flex;
    flex-flow: row wrap;
    margin: 6vw;
    background: #DDD;
    border-radius: 4vw;
    padding: 3vw;
    cursor: default;
}

.bigBlockErrorTitle, .bigBlockShortError, .searchForm {
    flex: 1 100%;
    margin: auto;
}

.bigBlockErrorTitle, .bigBlockShortError {
    font-family: 'Bitter', serif;
    font-weight: bold;
}

.bigBlockErrorTitle {
    font-size: 40vw;
}

.bigBlockShortError {
    font-size: 7vw;
}

.searchForm {
    display: flex;
    flex-flow: row wrap;
}

.searchForm input {
    box-sizing: border-box;
    padding: 2em;
    margin: 1em 0;
    flex: 1 100%;
}

.longError {
    font-size: 0.75rem;
    padding-bottom: 1em;
}

.button {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #BBB;
    margin: 1em 0;
    padding: 1.5em;
}


@media all and (min-width: 600px) {

    .bigBlock404Region {
        margin: 0 auto;
        background: #FFF;
        padding: 0;
        cursor: default;
        padding-bottom: 2em;
    }

    .bigBlockErrorTitle {
        font-size: 10rem;
    }

    .bigBlockShortError {
        font-size: 1rem;
    }

    #backToActivityButton {
        display: none;
    }

    .searchForm {
        margin: 1em;
    }

    .searchForm input {
        flex: 1 50% !important;
        padding: 1em;
    }
}