.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #fff;
}

#uploadform label {
	width: 24%;
    display: inline-block;
    cursor: pointer;
}


#uploadform label:hover {
    background-color: #329ca9;
}

.three {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}

.six {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

.nine {
-webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


}