.friendCard {
    width: 100%;
    padding: 2vw;
    box-sizing: border-box;
}

.friendCardImage {
    width: 100%;
    border-radius: 4vw;
}

@media all and (min-width: 250px) {
    .friendCard {
        padding: 0.5rem;
    
        /* background: #AAA; */
        /* position: absolute; */
}

    .friendCardImage {
        border-radius: 0.5rem;
    }

    .friendCardImageRegion {
        height: 0;
        margin: 0 0 80% 0;
    }
}
