/*Header stuff*/

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.loaderRegion {
    height: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.loader {
    margin: auto;
}

.login_prompt {
    margin-top: 2.5em;
    margin-bottom: -2.5em;
    border: 3vw solid #DDD;
}

.requires_js_warning {
    border: 3vw solid #F63;
}

.requires_js_warning, .login_prompt {
    background-color: white;
    padding: 1em;
}

.pageheaderbg {
    background-size: cover !important;
    background: url(/media/topbarbg.png) top;
    width: 100%;
    height: 2.5em;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.pageheader {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.headerbutton, .pageheader, .headertitle {
    height: 2.500em;
}

.headerbutton {
    width: 2.500em;
}

#headgear {
    background-image: url(/media/settings.png);
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
}

.headertitle {
    background-image: url(/media/title.png);
    background-repeat: no-repeat;
    width: 20em;
    display: block;
}

.searchtextarea {
    display: none;
}

.searchbutton {
    display: none;
}

.searchchoiceswrapper {
    display: none;
}

.advsearchbutton {
    width: 4em !important;
}

/* Page layout stuff */

.section_toggler {
    padding: 1em;
    background-color: #DDD;
    cursor: pointer;
    display: none; /* TODO: Make these sections collapsible */
}

.page_frame {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2.5em;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar_first, .sidebar_last, .body_inside {
    flex: 1 100%;
    background: #FFF;
}

.sidebar_body {
    width: 100%
}

.collapsed {
    height: 0;
    visibility: hidden;
}

.sidebar_titleandbutton {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
}

.sidebar_title {
    padding: 1em;
    margin: 0 auto;
}

.sidebar_button {
    padding: 1em;
}

.load_more_button {
    text-align: center;
    margin: 0 auto;
    background: #DDD;
    padding: 0.75em;
    border-radius: 0.25em;
    max-width: 16em;
    display: none; /* Enable on a per-page basis */
}


@media all and (max-width: 599px) {
    #newboothbutton {
        position: fixed;
        bottom: 1em;
        width: 1em;
        height: 1em;
        left: 1em;
        background-color: red;
        display: inherit;
        padding: 1em;
        border-radius: 2em;
        background-image: url("/media/addbooth.png");
        background-size: 1.25em;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/* Medium screens */
@media all and (min-width: 500px) {
    #newboothbutton {
        left: auto;
        right: 1em;
    }
}

@media all and (min-width: 600px) {

    .requires_js_warning {
        border: 0.5em solid #F63;
    }

    .login_prompt {
        border: 0.5em solid #EEE;
    }

    #newboothbutton {
        background-image: url('/media/newbooth.png');
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        height: 100%;
        left: 20em;
        padding-left: 1em;
        padding-right: 1em;
        position: absolute;
        top: 0;
        width: 122px;
    }

    #newboothbutton:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .sidebar_first, .sidebar_last {
        flex: 2 auto;
    }

    .collapsed {
        height: auto;
        visibility: inherit;
    }

}

/* Medium screens */
@media all and (min-width: 1024px) {

    .load_more_button {
        display: none;
    }

    .section_toggler {
        display: none;
    }

    .body_inside, .sidebar_first, .sidebar_last {
        flex: 1 1;
    }

    .sidebar_first, .sidebar_last {
        max-width: 14em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .sidebar_titleandbutton {
        background-color: #FFF;
        color: #000;
    }

    .sidebar_first {
        order: 1;
    }

    .body_inside {
        order: 2;
        padding-top: 0;
    }

    .sidebar_last {
        order: 3;
    }
}

/* Bigger screens */
@media all and (min-width: 1280px) {
    .sidebar_first, .sidebar_last {
        max-width: 16em;
        padding-left: 0;
        padding-right: 0;
        background: none;
    }

    .sidebar_first {
        margin-right: 1em;
        /*border-right: 1em solid rgba(107, 219, 179, 0.15); *//*6bdbb3*/
    }

    .sidebar_last {
        margin-left: 1em;
        /*border-left: 1em solid rgba(107, 219, 179, 0.15); *//*6bdbb3*/
    }
}
