.centerBooth {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    max-height: 20em;
    justify-content: space-between;
    width: 100%;
}

.centerBoothImage {
    order: 1;
    width: 50%;
    background-color: forestgreen;
}

.centerBoothText {
    width: 50%;
    order: 3;
    max-height: 20em;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #eaeaea;
}

.centerBoothOpenButton {
    width: 50%;
    order: 2;
    background-color: #FFF;
    height: 4em;
}


@media all and (min-width: 400px) {
    .centerBoothText {
        padding: 1em;
        font-size: 1rem;
    }
}

@media all and (min-width: 600px) {

    .centerBooth {
        align-items: flex-end;
    }
    .centerBoothImage {
        width: 30%;
    }

    .centerBoothText {
        order: 2;
        width: 70%;
        flex-grow: 1;
        font-size: 1rem;
        max-height: 17.5em;
    }

    .centerBoothOpenButton {
        width: 40%;
        order: 3;
        height: 2.5em;
    }
}