
.centerBooth {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 1em;
    background-color: #FFF;
}

.centerBoothImageRegion, .centerBoothText {
    flex: 0 1 50%;
    max-width: 50%
}

.centerBoothImageRegion {
    order: 1;
    padding-bottom: 2em;
}

.centerBoothText {
    box-sizing: border-box;
    text-align: left;
    order: 2;
    font-size: 0.75rem
}

.centerBoothOpenButton {
    order: 3;
    width: 50%;
    margin-top: -1em;
    text-align: center;
}

@media all and (min-width: 500px) {

    .centerBooth {
        justify-content: flex-end;
    }

    .centerBoothImage {
        border-radius: 0.25em;
    }

    .centerBoothImageRegion {
        padding-bottom: 0;
        border-radius: 0.1em;
    }

    .centerBoothText {
        padding: 1em 1em 2em;
        font-size: 1rem;
    }

    .centerBoothText {
        order: 2;
    }

    .centerBoothOpenButton {
        text-align: right;
        padding-right: 1em;
        order: 3;
    }
}
