
.centerBooth, .sideBooth {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 1em;
    background-color: #FFF;
}

.sideBoothRegion {
    background: #FFF;
}

.centerBoothRegion a, .sideBoothRegion a {
    text-decoration: none;
    color: #000;
}

.centerBoothImageRegion, .centerBoothText, .sideBoothImageRegion, .sideBoothText {
    flex: 0 1 50%;
    max-width: 50%
}

.centerBoothImage, .sideBoothImage {
    width: 100%;
    margin-bottom: 2em;
}

.sideBoothImage {
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
}

.sideBoothUsername {
    padding: 1em;
}

.centerBoothImageRegion, .sideBoothImageRegion {
    order: 1;
    overflow: hidden;
}

.centerBoothText, .sideBoothText {
    box-sizing: border-box;
    text-align: left;
    order: 2;
    font-size: 0.75rem;
    max-height: 20em;
    overflow: hidden;
    padding: 0.5rem;
}

.centerBoothOpenButtonRegion, .sideBoothOpenButtonRegion {
    position: relative;
    order: 3;
    width: 50%;
    margin-top: -1em;
    text-align: center;
    padding-bottom: 1em;
}

@media all and (min-width: 500px) {

    .primary_booths_feed {
        padding-top: 1em;
    }

    .centerBoothRegion {
        padding: 0 3em;
    }

    .centerBooth {
        justify-content: flex-end;
    
        padding: 1rem;
        box-sizing: border-box;
}

    .centerBoothImage, .sideBoothImage {
        border-radius: 0.25em;
    }

    .centerBoothImageRegion {
        padding-bottom: 0;
        border-radius: 0.1em;
    }

    .centerBoothText {
        padding: 1em 1em;
        font-size: 1rem;
        margin-bottom: 2em;
    }

    .centerBoothText {
        order: 2;
    }

    .centerBoothOpenButtonRegion {
        text-align: right;
        padding-right: 1em;
        order: 3;
    }

    .centerBoothOpenButton {
        width: 10em;
        background-color: #F00;
        position: absolute;
        right: 0em;
        bottom: 0;
        box-shadow: 0 0 0.5em #DDD;
        border-top-left-radius: 0.25em;
        height: 1.4em;
        border: 0.15em solid #F00;
        border-bottom-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
    }

    .centerBoothOpenButtonText {
        background-color: #FFF;
        position: absolute;
        right: 0;
        top: -2px;
        bottom: -2px;
        border-radius: 0.175em;
        margin-right: 0;
        left: 0;
        padding-top: 0.2em;
        text-align: center;
    }
}

@media all and (min-width: 500px) and (max-width: 1024px) {

    .sideBoothRegion {
        padding: 0 3em;
    }

    .sideBooth {
        justify-content: flex-end;
    }

    .sideBoothImage {
        border-radius: 0.25em;
    }

    .sideBoothImageRegion {
        padding-bottom: 0;
        border-radius: 0.1em;
    }

    .sideBoothText {
        padding: 1em 1em 2em;
        font-size: 1rem;
    }

    .sideBoothText {
        order: 2;
    }

    .sideBoothOpenButtonRegion {
        text-align: right;
        padding-right: 1em;
        order: 3;
    }

}

/* Medium screens */
@media all and (min-width: 1024px) {

    .primary_booths_feed {
        padding: 0;
    }

    .centerBoothRegion {
        padding: 0;
        border-radius: 0.25rem;
        max-width: 40rem;
        margin: 0.5rem auto;
}

    .centerBoothText, .sideBoothText {
        max-height: inherit;
        overflow: hidden;
        padding-bottom: 2em;
    }

    .sideBoothImageRegion, .sideBoothText, .sideBoothOpenButtonRegion {
        flex: 1 100% ! important;
        max-width: 100%;
    }

    .sideBoothOpenButtonRegion {
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.625);
    }

    .sideBoothOpenButtonRegion:hover {
        background-color: rgba(200, 255, 220, 0.8);
    }

    .sideBoothText {
        height: 4em;
        overflow: hidden;
    }

    .sideBoothRegion {
        border-radius: 0.5rem;
        padding: 0 0.25em;
        box-shadow: 0 1rem 1rem rgba(0,0,0,0.125);
        background-color: white;
        margin: 0.5em 0;
    }

    .sideBooth {
        border-radius: 1rem;
    }

    .centerBoothOpenButton {
        box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.5);
    }
}

/* Bigger screens */
@media all and (min-width: 1280px) {

    .body_inside {
        background: none;
    }

    .centerBoothRegion {
        background-color: #FFF;
        padding: 1em 3em;
}

    .centerBoothOpenButton {
        right: -2em;
    }

}
