#post_comment_button {
    display: none;
}

#post_comment_spinner {
}

.textCommentInputButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.commentButton {
}

.commentButtonGraphic {
    stroke: #000;
    stroke-width: 4.5;
    fill: #FFF;
}

@media all and (max-width: 599px) {
    #newboothbutton {
        display: none;
    }
}

.textCommentInputTextareaRegion {
    padding: 0.125em;
    height: 12em;
}

.textCommentInputTextarea {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 0.125em;
}

.textCommentInputSubmitButton input, .textCommentInputSubmitButton button {
    width: 100%;
}

.textCommentInputSubmitButton input, .textCommentInputSubmitButton button, #post_comment_spinner {
    border: 0 solid #FFF;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background-color: rgba(0,0,0,0);
    padding: 1em;
    cursor: pointer;
}

@media all and (min-width: 600px) {
    .commentButton, .commentSideButton {
        flex-grow: 1;
        flex-basis: 0;
    }

    .commentButton {
        max-width: 13rem;
    }

    .commentSideButton {
        width: 4rem;
        max-width: 8rem;
    }

    .commentButton button {
        margin: 0;
    }

    .commentSideButton button {
        margin: 0 auto 0 0;
    
        padding: 0.5rem;
}

}

@media all and (min-width: 1024px) {
    .textCommentInputRegion {
        margin-top: 0.5em;
    }
    .textCommentInputSubmitButton input, .textCommentInputSubmitButton button, #post_comment_spinner {
        color: #000;
    }

    .textCommentInputTextarea {
        border: 1px solid #000;
    }

    .textCommentInputTextareaRegion {
        height: 8rem;
        margin: 0 1.875rem;
    }
}
