.welcome-logo {
    width: 100%;
    text-align: center;
    padding: 0.50em;
    box-sizing: border-box;
}

.welcome-brief {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.welcome-logo, .welcome-brief, .welcome-signup-button button {
    border: 1px solid #FFF;
    background-color: #4CA;
    color: #FFF;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

.welcome-username-label, .welcome-password-label {
    text-align: center;
    font-size: 1rem;
    padding: 0.25em;
}

.welcome-username-field input, .welcome-password-field input, .welcome-login-button button, .welcome-signup-button button, .welcome-brief-text {
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
    display: block;
}

.welcome-username-field input, .welcome-password-field input, .welcome-login-button button, .welcome-signup-button button {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.welcome-login-button button, .welcome-signup-button button {
    box-sizing: border-box;
}

.welcome-signup-button button, .welcome-brief-text {
    margin-top: 0.5em;
}

.welcome-login-button button {
    background: #FFF;
}

.welcome-login-header {
    text-align: center;
    padding: 1em;
}