Options +FollowSymlinks
Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]
RewriteRule ^newbooth[\/]?$ ./newbooth/webcam
RewriteRule ^pm[\/]?$ ./user-pages/pm.php
RewriteRule ^users/([a-zA-Z0-9_-]+)[\/]?$ ./user-pages/booths.php?username=$1
RewriteRule ^users/([a-zA-Z0-9_-]+)/messages[\/]?$ ./action-pages/pmConversation.php?username=$1
RewriteRule ^users/([a-zA-Z0-9_-]+)/messages/send[\/]?$ ./action-pages/sendPM.php
RewriteRule ^users/([a-zA-Z0-9_-]+)/booths[\/]?$ ./user-pages/booths.php?username=$1
RewriteRule ^users/([a-zA-Z0-9_-]+)/friends[\/]?$ ./user-pages/friends.php?username=$1
RewriteRule ^users/([a-zA-Z0-9_-]+)/friends/add\/([a-zA-Z0-9_-]+)[\/]?$ ./action-pages/addFriend.php?username=$1&friendname=$2
RewriteRule ^users/([a-zA-Z0-9_-]+)/friends/remove\/([a-zA-Z0-9_-]+)[\/]?$ ./action-pages/removeFriend.php?username=$1&friendname=$2
RewriteRule ^users/([a-zA-Z0-9_-]+)/friends/remove\/([a-zA-Z0-9_-]+)/confirm[\/]?$ ./action-pages/removeFriend.php?username=$1&friendname=$2&confirm=true
RewriteRule ^users/([a-zA-Z0-9_-]+)/friends/ignore\/([a-zA-Z0-9_-]+)[\/]?$ ./action-pages/ignoreFriend.php?username=$1&friendname=$2
RewriteRule ^users/([a-zA-Z0-9_-]+)/friends/unignore\/([a-zA-Z0-9_-]+)[\/]?$ ./action-pages/addFriend.php?username=$1&friendname=$2&unignore=true
RewriteRule ^users/([a-zA-Z0-9_-]+)/friends/manage[\/]?$ ./user-pages/manageFriends.php?username=$1
RewriteRule ^users/([a-zA-Z0-9_-]+)/([0-9]+)[\/]?$ ./user-pages/onebooth.php?username=$1&boothnum=$2
RewriteRule ^users/([a-zA-Z0-9_-]+)/([0-9]+)\/like[\/]?$ ./actions/likebooth.php?boothnum=$2
RewriteRule ^users/([a-zA-Z0-9_-]+)/([0-9]+)\/edit[\/]?$ ./action-pages/editBlurb.php?boothnum=$2
RewriteRule ^users/([a-zA-Z0-9_-]+)/([0-9]+)\/delete[\/]?$ ./action-pages/confirmBoothDelete.php?boothnum=$2
RewriteRule ^users/([a-zA-Z0-9_-]+)/([0-9]+)\/comment\/webcam[\/]?$ ./action-pages/webcamComment.php?boothnum=$2
RewriteRule ^comments/([0-9]+)\/like[\/]?$ ./actions/likecomment.php?commentnumber=$1
RewriteRule ^comments/([0-9]+)\/delete[\/]?$ ./action-pages/confirmCommentDelete.php?commentnumber=$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.js -f
RewriteRule ^(.+)\.js$ $1.js.php [L,QSA]

ErrorDocument 404 /404.php
